

.cMJjnA{
font-family: 'Nunito', sans-serif;
background-color: #333E3E;
opacity: 3;
color: aliceblue;
}

.PaccountPage{
  background-image: url(./static/images/dna-3539309_960_720.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
