.logo{
  width: 7rem;
  height: 4rem;
}
.content1{
  padding-top: 40px;
}

.content2{
  padding-top: 70px;
}

.cMJjnA{
font-family: 'Nunito', sans-serif;
background-color: #333E3E;
opacity: 3;
color: aliceblue;
}

.textT{
  color: #2c003e;
  font-weight: bold;
}

.textp{
  color: #2c003e;
  font-weight: bold;
}

.health{
  width: 36rem;
  height: 15rem;
}

.access{
  color: #2c003e;
  font-weight: bold;
}

.mainpage{
  background-image: url(./static/images/sunrise.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.accessb{
  color: #fe346e;
}

.PaccountPage{
  background-image: url(./static/images/dna-3539309_960_720.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
